{% extends 'index.html' %}
{% block title %}Wokspaces | Geostore{% endblock %}
{% block content %}
<div class="mt20" id="content-container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="no-margin-top">
                <i class="glyphicon glyphicon-folder-open h3-icon"></i> &nbsp;Wokspaces
            </h3>
        </div>
        {% if user.level == 2 %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            {% if current_environment %}
            <button type="button" class="btn btn-inverse" onclick="updateEnvironment(this);" data-environment-id="{{ current_environment }}" {% if current_environment.lower() == 'all' or not environments %}disabled{% endif %} > Manage Workspace</button>
            {% endif %}
            <button type="button" class="btn btn-inverse" onclick="newEnvironment(this);">Create New Workspace</button>
        </div>
        {% endif %}
    </div>
    <div class="row margin-top-5">
    {% if environments %}
        <div class="col-xs-12 col-lg-3 environments-sidebar">
            <ul class="nav nav-pills nav-stacked nav-pills-environment">
                <!-- <li role="presentation" {% if current_environment == 'all' %}class="active"{% endif %}><a href="/environment?current_environment=all">All Environments</a></li> -->
                {% for environment in environments %}
                <li role="presentation" {% if current_environment == environment.id %}class="environment active"{% endif %}><a href="/workspace?current_workspace={{environment.id}}" class="{{environment.id}}">{{ environment.title }}{% if not environment.private_setting %} (PUBLIC){% endif %}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-lg-9">
            <div class="panel panel-inverse">
                <div class="panel-heading"><i class="fa fa-fw fa-lg fa-table"></i> Uploaded Datasets</div>
                <div class="panel-body">
                    <table class="table table-bordered" id="table_id">
                        <thead>
                            <tr>
                                <th>Dataset Title</th>
                                <th>Project Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if datasets %}
                                {% for d in datasets %}
                                <tr>
                                    {% set program = d['program'].lower() if d['program'].lower() != 'prdp' else 'da' %}
                                    {% if 'coa' not in d %}
                                    <td><a href="/projects/{{ program }}/{{ d['project_code'] }}{% if d['subproject'] %}/subroject/{{ d['subproject'] }}{% endif %}/dataset/{{ d['code'] }}">{{ d['title'] }}</a></td>
                                    <td><a href="/projects/{{ program }}/{{ d['project_code'] }}">{{ d['project_code'] }}</a></td>
                                    {% else %}
                                    <td><a href="/projects/coa/{{ d['project_code'] }}{% if d['subproject'] %}/subroject/{{ d['subproject'] }}{% endif %}/dataset/{{ d['code'] }}">{{ d['title'] }}</a></td>
                                    <td><a href="/projects/coa/{{ d['project_code'] }}">{{ d['project_code'] }}</a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-xs-12 col-lg-12">
            {% if user.level == 2 %}
            <div class="alert alert-warning"><i class="fa fa-fw fa-warning"></i> Sorry, there are no workspaces to display. <a href="javascript:void(0);" onclick="newEnvironment(this);">Create a new workspace</a> now?</div>
            {% else %}
            <div class="alert alert-warning"><i class="fa fa-fw fa-warning"></i> You are currently not part of any Workspace. Once you have been invited to be part of an workspace, you will see it here.</div>
            {% endif %}
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.ravenjs.com/3.0.4/raven.min.js"></script>
<script type="text/javascript">
	Raven.config('https://40dee6edeb0548f99e483cf64b74a5c1@app.getsentry.com/77892').install()
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/js/environment.js"></script>
{% endblock %}