{% extends 'index.html' %}
{% block title %}User Registration | Geostore{% endblock %}
{% block content %}
    <div class="container mt40" id="user-registration-page">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="no-margin-top">
                <i class="glyphicon glyphicon-user h3-icon"></i> User Registrations
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-info">Did you want to go to the <a href="/dashboard">User Management</a> page instead?</div>
        </div>
    </div>
        <div class="bs-example bs-example-tabs mt20" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#pending-admin" id="pending-admin-tab" role="tab" data-toggle="tab" aria-controls="pending-admin" aria-expanded="true">
                        <i class="fa fa-lg fa-eye"></i> PENDING - with Office Order
                    </a>
                </li>
                <li role="presentation">
                    <a href="#pending-admin-wo-oo" id="pending-admin-wo-oo-tab" role="tab" data-toggle="tab" aria-controls="pending-admin-wo-oo">
                        <i class="fa fa-lg fa-eye"></i> PENDING - without Office Order
                    </a>
                </li>
                <li role="presentation">
                    <a href="#disapproved-admin" role="tab" id="disapproved-admin-tab" data-toggle="tab" aria-controls="disapproved-admin">
                        <i class="fa fa-lg fa-user-times"></i> DISAPPROVED
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="pending-admin" aria-labelledby="pending-admin-tab">
                    <h3 class="text-center"><i class="fa fa-2x fa-spin fa-circle-o-notch"></i></h3>
                    <h4 class="text-center">Loading Pending Agency Admin Users with Office Order</h4>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pending-admin-wo-oo" aria-labelledby="pending-admin-wo-oo-tab">
                    <h3 class="text-center"><i class="fa fa-2x fa-spin fa-circle-o-notch"></i></h3>
                    <h4 class="text-center">Loading Pending Agency Admin Users without Office Order</h4>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="approved-admin" aria-labelledby="approved-admin-tab">
                    <h3 class="text-center"><i class="fa fa-2x fa-spin fa-circle-o-notch"></i></h3>
                    <h4 class="text-center">Loading Approved Agency Admin Users</h4>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="disapproved-admin" aria-labelledby="disapproved-admin-tab">
                    <h3 class="text-center"><i class="fa fa-2x fa-spin fa-circle-o-notch"></i></h3>
                    <h4 class="text-center">Loading Disapproved Agency Admin Users</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
    <script type="text/javascript">
        Raven.config('https://f10053f0c3304adf9f8655d35a669ad0@app.getsentry.com/75603').install();
    </script>
    <script type="text/javascript" src="/js/public-user-registration.js"></script>
{% endblock %}