</div>
</div>
<div class="main-nav" style="display: block;">
		<!-- <a class="active" href="/dashboard/all">All Projects</a></li> -->
		<a {% if program == 'all' %}class="active"{% endif %}  href="/geoprocessing/dashboard" style="background-image: url('/images/geoprocessing/all-icon.png');">All</a></li>
        <a {% if program == 'for_geoprocessing' %}class="active"{% endif %} href="/geoprocessing/for_geoprocessing" style="background-image: url('/images/geoprocessing/for-geoprocessing.png');">For Geoprocessing</a>
		<a {% if program == 'geoprocessed' %}class="active"{% endif %} href="/geoprocessing/geoprocessed" style="background-image: url('/images/geoprocessing/geoprocessed.png');">Geoprocessed</a>
		<!-- <a {% if program == '' %}class="active"{% endif %} href="">PARTIAL</a> -->
</div>

<div class="container">
    <div class="row">